@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    background-color: #134E5E;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #10d3cc;
    border-radius: 6px;
}

:root {
    overflow-x: hidden;
    color: white;
}

.center {
    @apply flex justify-center items-center
}

section, header, footer {
    padding: 4rem 1rem;
}

section {
    min-height: 80vh;
    display: grid;
    place-items: center;
}

h2 {
    @apply text-5xl font-bold mb-2
}

p {
    @apply text-gray-300 font-semibold my-4
}

a {
    @apply font-semibold capitalize hover:text-main border-b-2 border-b-transparent hover:border-main duration-300;
}