@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    width: 5px;
    background-color: #134E5E;
}

::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: #10d3cc;
    border-radius: 6px;
}

:root {
    overflow-x: hidden;
    color: white;
}


#mob-icons a{
    @apply rotate-90
}

.center {
    @apply flex justify-center items-center;
}

section,
header {
    padding: 4rem 1rem;
}

section {
    @apply grid items-center min-h-[80vh];
}

article {
    @apply p-2
}

h2 {
    @apply text-3xl md:text-5xl font-bold;
}

p {
    @apply text-gray-300 font-semibold py-4;
}

a {
    @apply font-semibold capitalize hover:text-main border-b-2 border-b-transparent hover:border-main duration-300;
}

.box {
    @apply bg-gradient-to-br from-gray-700 rounded-2xl hover:bg-slate-800 duration-300;
}